@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
  
  /* No shadows anywhere */
  * {
    box-shadow: none !important;
  }
}

@layer utilities {
  .hairline {
    border-width: 1px;
  }
  
  .hairline-t {
    border-top-width: 1px;
  }
  
  .hairline-b {
    border-bottom-width: 1px;
  }
  
  .hairline-l {
    border-left-width: 1px;
  }
  
  .hairline-r {
    border-right-width: 1px;
  }
}

